//COLOR
// First Color Scheme
$blanco: #fff;
$platinum: #E6E7E7;
$ligth-gray: #D1D1D1;

// Second Color Scheme
$fuzzi: #e56353;
$rudy-pink: #d76c69;
$spanish-pink: #ecbcba;


//Third Color Scheme
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;



//TYPOGRAPHY
//font-familiy
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//font weight

$regular: 400;
$semibold: 600;
$bold: 700;
$black-italic: 900;
$thin: 300;


//font size
$size-small: 12px;
$size-smallm: 14px;
$size-medium: 16px;
$size-large: 18px;
$size-x-large: 30px;
$size-xx-large: 70px;
$size-largee: 20px;


