.articulo__fecha {
    color: $raisin-black;
    text-align: left;
    font-size: $size-medium;
    font-weight: $regular;
    margin-top: 1rem;
}

.articulo__parrafo {
    color: $raisin-black;
    text-align: justify;
    font-family: $roboto;
    font-size: $size-medium;
    font-weight: $thin;
    line-height: 45px;
}

