#navbar-nav {
    color: $blanco;
    font-family: 'roboto', sans-serif;
    font-size: $size-medium;
      
}


.logo img{
    width: 78px;
    margin-left: 100%;
    text-align: left;
}
 
.navbar {
    top: 0;
    left: 0;
}
